body {
  user-select: none;
  left: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: white;
}

#main_interface {
  left: 0;
  right: 0;
  top: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  padding-top:50px;
  background-color: transparent;
}

.loader {
  animation-name: loader;
  animation-duration: .1s;
  animation-iteration-count: none;
}

@keyframes loader {
  0% {opacity: 0}
  100% {opacity: 1}
}

.val_point {
  width: 20%;
  font-size: 5vw;
  background-color:transparent;
  border: none;
  outline: none;
}

.grade_data {
  width: 60%;
  font-size: 5vw;
  background-color: transparent;
  border: none;
  outline: none;
  color: black;
}